################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectSln/.vs/ProjectSln/v17
/ProjectSln/BusinessObject/obj
/ProjectSln/DataAccess/obj
/ProjectSln/SalesWinApp/obj
/ProjectSln/.vs/ProjectSln/config
ProjectSln/.vs/ProjectSln/DesignTimeBuild/.dtbcache.v2
